<div class="card">
    <div class="navbar">
        <div class="tinder-home">
            <img class="tinder-image" src="assets/images/tinder-icon.png" height="48" width="48" alt="icon">
            <div class="tinder-text">Dev-Tinder</div>
        </div>
        <div class="navbar-left">
            <div>Products</div>
            <div>Learn</div>
            <div>Safety</div>
            <div>Support</div>
            <div>Download</div>
        </div>
        <div class="navbar-right">
            <div>Language</div>
            <div>Log in</div>
        </div>
    </div>
</div>