.feed {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 0px);
}

.left-feed {
    background-color: #111318;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-feed {
    background-color: rgba(0,0,0,0);
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.feed-menu {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 4px;
    align-items: center;
    --primary-color: #ff6036; 
    --secondary-color: #fd267a; 
    --shadow-color: rgba(255, 255, 255, 0.5); 
    --transition-duration: 0.3s; 

    background-color: var(--primary-color); 
    transition:  
        background-color var(--transition-duration) ease-in-out; 
    background-image:  
        linear-gradient(to bottom, var(--primary-color),  
                                    var(--secondary-color));
}

.feed-preferences {
    display: flex;
    flex: 9;
    width: 100%;
}

.menu {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 12px;
}

.menu .icon {
    font-size: 16px;
    border-radius: 50%;
    background-color: #111318;
    padding: 8px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    height: 40px;
    padding: 0 4px;
}

.feed-menu .profile:hover {
    background-color: #111318;
    border-radius: 50px;
}

.user-profile-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
    font-weight: 600;
}

.match .user-name {
    font-weight: 300;
    font-size: 16px;
}

.p-tabpanels, :host ::ng-deep .p-tablist-tab-list {
    background-color: transparent;
    text-align: center;
    background: transparent;
}

.p-tabs {
    width: 100%;
}

.p-tab-active {
    color: white;
    font-weight: 600;
    border-color: #fd267a;    
}

.p-tab:not(.p-disabled):focus-visible {
    outline: #fd267a;
}

.heading {
    font-weight: 600;
}

.account {
    padding: 12px;
    width: 100%;
}

.account-subsection {
    border-bottom: 1px solid white;
    height: 50px;
    display: flex;
    align-items: center;
}

.account-subsection:hover {
    color: #ff6036;
    cursor: pointer;
}

.icon:hover {
    cursor: pointer;
    color: #ff6036;
}

.p-tabpanel {
    align-items: center;
    justify-content: center;
}

.empty-block {
    height: 170px;
    width: 117px;
    --primary-color: #fd267a; 
    --secondary-color: #ff6036; 
    --shadow-color: rgba(255, 255, 255, 0.5); 
    --transition-duration: 0.3s; 

    background-color: var(--primary-color); 
    transition:  
        background-color var(--transition-duration) ease-in-out; 
    background-image:  
        linear-gradient(to right, var(--primary-color),  
                                    var(--secondary-color));
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px #11130B;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column;
}


.field {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.field .left {
    flex: 1;
    justify-content: flex-start;
}

.field .right {
    flex: 1;
    justify-content: flex-end;
}

.error {
    color: red;
}

.options {
    display: flex;
    gap: 12px;
}

.options .check:hover{
    color: #22c55e;
    cursor: pointer;
}

.options .cross:hover{
    color: #ef4444;
    cursor: pointer;
}

.options .pi {
    font-size: 1.5rem;
}

.match {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-feed {
    height: 592px;
    width: 375px;
    position: absolute;
}



.feed-actions {
    /* background-color: #111318; */
    /* --primary-color: grey; 
    --secondary-color: black; 
    --shadow-color: rgba(255, 255, 255, 0.5); 
    --transition-duration: 0.3s; 

    background-color: var(--primary-color); 
    transition:  
        background-color var(--transition-duration) ease-in-out; 
    background-image:  
        linear-gradient(to bottom, var(--primary-color),  
                                    var(--secondary-color)); */                                    
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeToBlack {
    0% {
      background: transparent;
    }
    100% {
      background: black;
    }
  }

.feed-actions .pi {
    font-size: 2rem;
}

.feed-actions .feed-action-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3E505B;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
}

.feed-actions  .feed-action-btns:hover {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.feed-action-btns.times {
    color: #ef4444;
}

.feed-action-btns.heart {
    color: #22c55e;
}

.user-image {
    height: 375px;
    width: 375px;
    position: relative;
}

.user-pref {
    position: absolute;
    left: 0;
    background: linear-gradient(to bottom, transparent, black);
    background-image: fadeToBlack 3s infinite alternate;
    position: absolute;
    top: 392px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    gap: 20px;
}

.topline {
    display: flex;
    align-items: center;
    color: white;
}

.bottomline {
    margin: 0 20px;
    display: flex;
    gap: 4px;
    z-index: 1;
}

h3 {
    margin: 0 20px;
}

/* .p-tag-contrast {
    background-color: var(--p-tag-contrast-color);
    color: var(--p-tag-contrast-background);
} */
