<div class="feed">
    <div class="left-feed">
        <div class="feed-menu">
            <div class="profile" (click)="onToggleAccountDetails()">
                <img class="user-profile-img" [src]="activeUser.photoUrl">
                <span class="user-name">{{activeUser.firstName.toUpperCase()}}</span>
            </div>
            <div class="menu">
                <div class="icon">
                    <i class="pi pi-search" style="font-size: 1.25rem"></i>
                </div>
                <div class="icon">
                    <i class="pi pi-pen-to-square" style="font-size: 1.25rem"></i>
                </div>
                <div class="icon">
                    <i class="pi pi-shield" style="font-size: 1.25rem"></i>
                </div>
            </div>
        </div>
        <div class="feed-preferences" *ngIf="!toggleAccountDetails">
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">Matches</p-tab>
                    <p-tab value="1">Requests</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <div class="center" *ngIf="matches && !matches.length">
                            <div class="empty-block"></div>
                            <h2>Start Matching</h2>
                            <p class="m-0">
                                Matches will appear here once you start to Like people. You can message them directly from here when you’re ready to spark up the conversation.
                            </p>
                        </div>
                        <div class="left" *ngIf="matches && matches.length">
                            <div class="match" *ngFor="let match of matches">
                                <div class="profile">
                                    <img class="user-profile-img" [src]="match.photoUrl">
                                    <span class="user-name">{{match.firstName}} {{match.lastName}}</span>
                                </div>
                            </div>
                        </div>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <div class="center" *ngIf="requests && !requests.length">
                            <div><i class="pi pi-comments" style="font-size: 8rem; color: #fd267a;"></i></div>
                            <h2>Say Hello</h2>
                            <p class="m-0">
                                Looking to strike up a conversation? When you match with others, you can send them a message under “Matches”.
                            </p>
                        </div>
                        <div class="left" *ngIf="requests && requests.length">
                            <div class="match" *ngFor="let request of requests">
                                <div class="profile">
                                    <img class="user-profile-img" [src]="request.fromUserId.photoUrl">
                                    <span class="user-name">{{request.fromUserId.firstName}} {{request.fromUserId.lastName}}</span>
                                </div>
                                <div class="options">
                                    <i class="pi pi-check-circle check" (click)="requestAction(request, true)"></i>
                                    <i class="pi pi-times-circle cross" (click)="requestAction(request, false)"></i>
                                </div>
                            </div>
                        </div>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
        <div class="feed-preferences" *ngIf="toggleAccountDetails">
            <div class="account">
                <p class="heading">ACCOUNT SETTINGS</p>
                <div class="account-subsection" (click)="editAccountInformation()">Edit account information</div>
                <div class="account-subsection" (click)="logout()">Logout</div>
            </div>
        </div>
    </div>
    <div class="right-feed">
        <div class="user-feed" draggable="true" (dragend)="dragStart($event)">
            <div class="feed-actions">
                <div class="feed-action-btns times"><i class="pi pi-times"></i></div>
                <div class="feed-action-btns heart"><i class="pi pi-heart-fill"></i></div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Update account details..." [modal]="true" [(visible)]="accountDetailsDialog" [style]="{ width: '30rem' }">
    <form (ngSubmit)="onUpdateFormSubmit()" #updateForm="ngForm">
        <div class="field">
            <label class="left">Firstname </label>
            <div class="right">
                <input type="text" pInputText ngModel name="firstName" required />
                <span class="error" *ngIf="updateForm.controls['firstName'].touched && updateForm.controls['firstName'].invalid">Invalid firstname</span>
            </div>
        </div>
        <div class="field">
            <label class="left">Lastname </label>
            <div class="right">
                <input type="text" pInputText ngModel required name="lastName" />
                <span class="error" *ngIf="updateForm.controls['lastName'].touched && updateForm.controls['lastName'].invalid">Invalid lastname</span>
            </div>
        </div>
        <div class="field">
            <label class="left">Skills </label>
            <div class="right">
                <div class="show-chips">
                    <p-chip *ngFor="let skill of skills" [label]="skill.name" [removable]="true" />
                </div>
                <input type="text" pInputText ngModel name="skills" ><p-button type="button" (onClick)="addSkill()">Add</p-button>
            </div>
        </div>
        <div class="field">
            <label class="left">Photo URL </label>
            <div class="right">
                <input type="text" pInputText ngModel required name="photoUrl" />
                <span class="error" *ngIf="updateForm.controls['photoUrl'].touched && updateForm.controls['photoUrl'].invalid">Invalid photoUrl</span>
            </div>
        </div>
        <div class="field">
            <p-button type="submit" label="Update" severity="success" rounded="true"></p-button>
        </div>
    </form>
</p-dialog>